.reviewtitle {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

/* image hover zoom */
.img-hover-zoom {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
  filter: brightness(80%);
}

/* Transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
  filter: brightness(100%);
}