{% extends 'gallery/layout.html' %} 
{% block title %} Real-time Chat{%endblock%}
{% load static %} 
{% block imports %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'chat_app/css/chat.css' %}"
/>
<link
  href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
  rel="stylesheet"
/>
{% endblock %} 

{% block content %}

<div class="row">
  <div class="col">
    <h1 class="fs-1 fw-bold" style="text-align: center; margin-top: 30%">
      Hey {{recipient_username}},
    </h1>
    <h1 class="fs-1 fw-bold" style="text-align: center">let's Chat Together</h1>
  </div>
  <div class="col">
    <div class="h-screen py-10 px-4 sm:px-6 lg:px-8">
      <div
        class="chat-container bg-white max-w-xl mx-auto rounded-lg shadow-md overflow-hidden"
      >
        <div class="chat-header bg-blue-600 text-white p-4">
          {{recipient_username}}
        </div>

        <div class="chat-messages h-96 overflow-y-auto p-4" id="chat-box"></div>

        <div class="border-t border-gray-200 p-4">
          <input
            type="text"
            class="chat-input w-full px-4 py-2 rounded-md border focus:ring-indigo-500 focus:border-indigo-500"
            id="chat-input"
            placeholder="Type your message..."
          />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // creating a websocket instance for bi-direction connection communication / long-live connection as chatSocket constant
    // ws:// is a websocket protocol prefix to create a connection over an unencrypted connection.
    const chatSocket = new WebSocket(
      "ws://" + window.location.host + "/ws/chat/{{ recipient_username }}/"
    );
    //  function gets executed whenever a new message (broadcasted message) is received, and the message data becomes available to e.data property.
    chatSocket.onmessage = function (e) {
      const data = JSON.parse(e.data);
      const message = data["message"];
      const sender = data["sender"];
      const chatBox = document.getElementById("chat-box");
      const messageElement = document.createElement("div");
      const messageContent = document.createElement("span");
      const messageSender = document.createElement("p");

      if (sender === "{{ request.user.username }}") {
        messageElement.classList.add("mb-2", "flex", "justify-end");
        messageElement.innerHTML = `
          <div>
          <div class="fw-bold mb-1" style="
          text-align: end;  "> you 😊</div>
              <div class="flex-shrink-1 bg-primary bg-gradient
              rounded py-2 px-3 ml-3">
                  ${message}
              </div>
          </div>
          `;
      } else {
        messageElement.classList.add("mb-2", "flex", "justify-start");
        messageElement.innerHTML = `
          <div>
          <div class="fw-bold mb-1">
      ${sender}

          </div>
              <div class="flex-shrink-1 bg-gray-300 rounded py-2 px-3 ml-3" style="ackground-color: lightgray">
                  ${message}
              </div>
          </div>
          `;
      }

      // Append the message element to the chat box
      chatBox.appendChild(messageElement);
      chatBox.scrollTop = chatBox.scrollHeight;
    };

    document
      .querySelector("#chat-input")
      .addEventListener("keyup", function (e) {
        if (e.key === "Enter") {
          const messageInput = document.querySelector("#chat-input");
          const message = messageInput.value;
          chatSocket.send(
            JSON.stringify({
              message: message,
            })
          );
          messageInput.value = "";
        }
      });
  });
</script>
{% endblock %}
